<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Chatroom</title>
		<meta charset="UTF-8">
		<style type="text/css">
			/* temporary css will go here then later linked from the statics folder */ 
		</style>
	</head>
	<body>
		<div id="container">

		</div> <!-- End Container -->
	</body> 
</html>